<div style="width: 100%; height: 100%;">
    <mat-toolbar class="tool" fxLayout="row" fxLayoutAlign="space-between center">
      <div  fxLayout="row" fxLayoutGap="2%">
        <img src="../../../assets/Book.png" />
        <a style="color: white;">BookStore</a>
        </div>
  
        </mat-toolbar>
        <div class="container" fxLayoutAlign="center center">
          <div >
            <h4 class="text" style="text-align: top;">Forgot your Password?</h4>
          </div>
        <mat-card class="example-card">
           <p style="text-align:center">Enter an email address and we will send a link to reset your password</p>
            <div class="email" fxLayout="column" fxLayoutAlign="center stretch"> 

           <mat-form-field appearance="outline" [formGroup]="forgetPasswordForm" (ngSubmit)="onForgetSubmit()">
            <mat-label>Email Id</mat-label>
            <input matInput  formControlName='EmailId' type="email" placeholder="Email Id"   class="input" />
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        
      </div> 
                    <button mat-button color="primary" (click)="onForgetSubmit()">Reset Password</button>
                    <div>
                      <button mat-button  [routerLink]="['/signup']">Create an Account</button>
                     </div>   
        </mat-card> 
  </div>
  </div>